# Required Secrets for production environment (Cloud Run deployment)
GEMINI_API_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
GOOGLE_MAPS_API_KEY=

# Local Development Config
APP_URL="MY_APP_URL"
VITE_GOOGLE_MAPS_API_KEY=
